body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .navbar{
    background: #141417 !important;
}
.navbar-toggler {
    border-color: rgb(14, 13, 13) !important;
}
.navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #070707;
  position: relative;
  margin-top: auto;

}

.copyright-area{
  background: #0d0d0e;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #c5c5c5;
}
.copyright-text p a{
  color: #ff5e14;
}

.custom-btn{
    background-color: #2F3C7E;
    color: white;
}

.custom-btn:hover{
    background-color: #505c94;
    color: white;
}